<div class="comments">
  <div id="old-comn" *ngFor="let item of myJson['comments']; let index = index">
    <div class="full-comment">
      <div class="comment container">
        <!-- score -->
        <div class="score">
          <button (click)="increase(index)">
            <img src="../assets/images/icon-plus.svg" />
          </button>
          <p>
            {{ item.score }}
          </p>

          <button (click)="decrease(index)">
            <img src="../assets/images/icon-minus.svg" />
          </button>
        </div>

        <!-- user -->
        <div class="user">
          <img src="{{ item.user.image.png }}" />

          <p class="username">
            {{ item.user.username }}
          </p>

          <span *ngIf="item.user.username === myJson.currentUser.username">
            <p class="me">you</p>
          </span>
          <p class="createdAt">{{ item.createdAt }}</p>
        </div>

        <!-- control ორი იფ წერია და სხვანაირად თუ შეიძლება -->
        <span *ngIf="item.user.username === myJson.currentUser.username">
          <div class="btns">
            <button class="deleteBtn" (click)="popUp(index)">
              <img src="../assets/images/icon-delete.svg" /> Delete
            </button>
            <!-- (click)="edit()" -->
            <button class="editBtn">
              <img src="../assets/images/icon-edit.svg" /> Edit
            </button>
          </div>
        </span>

        <span *ngIf="item.user.username !== myJson.currentUser.username">
          <!-- (click)="reply()" -->
          <button class="replyBtn">
            <img src="../assets/images/icon-reply.svg" /> Reply
          </button>
        </span>
        <p class="txt">{{ item.content }}</p>
      </div>
    </div>

    <!-- ამის გადაკოპირების გარეშე ვერ ვიზამ? -->
    <span *ngIf="item?.replies?.length !== 0">
      <div
        class="replies"
        *ngFor="
          let item of myJson['comments'][index].replies;
          let index = index
        "
      >
        vkh
      </div>
    </span>
  </div>

  <!-- content -->

  <!-- id="invisable" -->

  <div class="error-txt" *ngIf="error">{{ error }}</div>
  <div class="reply container">
    <img
      src="../assets/images/avatars/image-juliusomo.png"
      alt=""
      class="usr-img"
    />
    <textarea
      id="cmnt-input"
      placeholder="Add a comment..."
      [(ngModel)]="newComment"
    ></textarea>
    <button id="send-btn" (click)="addComment()">SEND</button>
  </div>

  <!-- id="invisable" -->
  <div id="popUpbox" *ngIf="showPopUp">
    <div class="popUp container">
      <h3>Delete comment</h3>
      <p>
        Are you sure you want to delete this comment? This will remove the
        comment and cant be undone
      </p>
      <button class="yes" (click)="delete()">YES,DELETE</button>
      <!-- (click)="popUp() -->
      <button class="no" (click)="chageStateOfPopUp()">NO,CANCEL</button>
    </div>
  </div>
</div>
